* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.jumbotron {
    background-color: red;
    color: white;
    min-height: 15px;
    margin-bottom: 10px;
    text-align: center;
}

.card-header {
    background-color: blue;
    color: white;
    text-align: center;
}